<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-inner">
                    <ul class="footer-menu">
                        {{ if eq .Title "Домашняя" }}
                        <li><a href="{{ .Site.BaseURL }}work">Проекты</a></li>
                        <li><a href="{{ .Site.BaseURL }}about">О Нас</a></li>
                        <li><a href="{{ .Site.BaseURL }}contact">Контакты</a></li>
                        {{ else if eq .Title "О нас"}}
                        <li><a href="{{ .Site.BaseURL }}">Главная</a></li>
                        <li><a href="{{ .Site.BaseURL }}work">Проекты</a></li>
                        <li><a href="{{ .Site.BaseURL }}contact">Контакты</a></li>
                        {{ else if eq .Title "Проекты"}}
                        <li><a href="{{ .Site.BaseURL }}">Главная</a></li>
                        <li><a href="{{ .Site.BaseURL }}about">О Нас</a></li>
                        <li><a href="{{ .Site.BaseURL }}contact">Контакты</a></li>
                        {{ else if eq .Title "Контакты"}}
                        <li><a href="{{ .Site.BaseURL }}">Главная</a></li>
                        <li><a href="{{ .Site.BaseURL }}work">Проекты</a></li>
                        <li><a href="{{ .Site.BaseURL }}about">О Нас</a></li>
                        {{ else }}
                        <li><a href="{{ .Site.BaseURL }}">Главная</a></li>
                        <li><a href="{{ .Site.BaseURL }}work">Проекты</a></li>
                        <li><a href="{{ .Site.BaseURL }}about">О Нас</a></li>
                        <li><a href="{{ .Site.BaseURL }}contact">Контакты</a></li>
                        {{ end }}
                        <li class="copyright">© {{ now.Format "2006" }} {{.Site.Title}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>