<div class="sub-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sub-footer-inner">
                    <ul>

                        <li><strong>Московский государственный университет геодезии и картографии</strong></li>

                        <li><strong>Адрес электронной почты:  </strong><a href="mailto:portal@miigaik.ru">
                            portal@miigaik.ru</a></li>
                    </ul>
                    <ul>
                        <li><strong>Адрес: </strong>Москва, Гороховский пер., 4</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>